$ceruleanBlue: #3aaed8;
.container{
    margin: 100px 0;
}

.container--title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.container__actions{
    margin-left: 5%;
    margin-bottom: 10px;
}
.btn{
    border:none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
    font-weight: bold;
    background-color: rgba($color: #fff, $alpha: 0.2);
    &:focus{
        border: none;
        outline: none;
    }
    &:active{
        outline: none;
        border: none;
    }
}
.btn-new:hover{
    background-color: $ceruleanBlue;
    cursor: pointer;
}
.btn-edit:hover{
    background-color: #f6bd60;
    cursor: pointer;
}
.btn-delete:hover{
    background-color: #e63946;
    cursor: pointer;
}


.container__table{
    margin: 0 auto;
    width: 90%;
    border: 0.1px solid;
    table-layout: fixed;
}

.container__table--header{
    background-color: rgba($color: #fff, $alpha: 0.2);
}

.container__table--header tr th{
    text-align: left;
    padding: 20px;
    text-transform: uppercase;
    border-bottom: 0.1px solid;
}
.container__table--body{

}
.container__table--body tr td{
    padding: 20px;
    border-bottom: 0.1px solid;
}